<div id="dashboard-wrapper" class="container">
    <div class="search-panel">
        <div class="ais-search-box">
            <input id="search-box" autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search for topics" role="textbox" spellcheck="false" type="text" value="" class="ais-search-box--input">
        </div>
    </div>
    <div class="context-container">
        <div class="filter-button">Filter</div>
        <div id="stats-container"></div>
    </div>
    <div class="search-info-wrapper">
        <div class="refinement-panel">
            <h3>Refine by</h3>
            <div class="categories">
                <ul id="docType"></ul>
                <ul id="fileType"></ul>
            </div>
            <hr class="wayfinding-rule">
        </div>
        <div class="results-panel">
            <div id="hits-container"></div>
            <div id="pagination-container"></div>
        </div>
    </div>
</div>
